.buttonsRow {
    border-bottom: 2px solid rgb(195, 0, 0);
}

.singleButttonStyle {
    display: flex;
    align-items: center;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
}

.singleButttonStyle:hover {
    background-color: rgb(195, 0, 0);
    color: white;
}