<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />

    <!-- Custom CSS -->

    <!-- CSS Navbar  -->
    <link th:rel="stylesheet" th:href="@{/css/navbar.css}" />

    <!-- CSS buttonsRow  -->
    <link th:rel="stylesheet" th:href="@{/css/buttonsRow.css}" />

    <!-- CSS Index  -->
    <link th:rel="stylesheet" th:href="@{/css/indexStyle.css}" />

    <title>Simulatori</title>
</head>

<body>

    <!-- overlay finestra di caricamento per controllo conessioni -->
    <div id="overlayCheckConnessioni" class="justify-content-center align-items-center">

        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Controllo Connessioni</h5>
                <p class="card-text">Verifica dello stato dei simulatori in corso...</p>
                <div class="spinner-grow" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

        </div>

    </div>

    <header>
        <nav th:replace="fragments/navbar :: navbar('Home')"></nav>
    </header>

    <main>

        <div class="container">

            <!-- Riga dedicata a pulsanti:
                - AGGIUNGI  simulatore
                - CERCA simulazione   
                - AGGIORNA connessioni simulatori        
            -->
            <div class="row mt-3 pb-2 buttonsRow">

                <!-- pulsante aggiungi simulatore -->
                <div class="col-auto">

                    <a class="btn singleButttonStyle" th:href="@{/AggiungiSimulatore}">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                        </svg>

                        <span>Aggiungi Simulatore</span>

                    </a>

                </div>

                <!-- pulsante ricerca simulazione -->
                <div class="col-auto">

                    <a class="btn singleButttonStyle" th:href="@{/TrovaSimulazione}">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>

                        <span>Trova Simulazione</span>

                    </a>

                </div>

                <!-- pulsante aggiorna connessioni simulatori -->
                <div class="col-auto">

                    <a id="btnCheckConnessioni" class="btn singleButttonStyle" th:href="@{/CheckConnessioni}">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-wifi" viewBox="0 0 16 16">
                            <path
                                d="M15.384 6.115a.485.485 0 0 0-.047-.736A12.44 12.44 0 0 0 8 3C5.259 3 2.723 3.882.663 5.379a.485.485 0 0 0-.048.736.52.52 0 0 0 .668.05A11.45 11.45 0 0 1 8 4c2.507 0 4.827.802 6.716 2.164.205.148.49.13.668-.049" />
                            <path
                                d="M13.229 8.271a.482.482 0 0 0-.063-.745A9.46 9.46 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.576 1.336c.206.132.48.108.653-.065m-2.183 2.183c.226-.226.185-.605-.1-.75A6.5 6.5 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.407.19.611.09A5.5 5.5 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.61-.091zM9.06 12.44c.196-.196.198-.52-.04-.66A2 2 0 0 0 8 11.5a2 2 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .707 0l.707-.707z" />
                        </svg>

                        <span>Check Connessioni</span>

                    </a>

                </div>

            </div>

            <!-- Visualizzatore di tutti i simulatori nel database -->
            <div class="row mt-2">
                <!-- Alert mancanza simulatori -->

                <div th:if="${simulatori == null or #lists.isEmpty(simulatori)}" class="alert alert-warning">
                    Nessun simulatore trovato.
                </div>

                <!-- Elenco card di tutti i simulatori -->
                <div class="col-12">

                    <div th:if="${simulatori != null and !#lists.isEmpty(simulatori)}">

                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                            <div class="col" th:each="sim : ${simulatori}">
                                <a class="card h-100 cardStyle" th:href="@{'/simulatore/' + ${sim.id}}">
                                    <div class="card-body row">

                                        <!-- immagine computer indica stato del simulatore -->
                                        <div class="col-4">
                                            <!-- SVG di Server NON Connesso -->
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="grey"
                                                class="bi bi-pc-display-horizontal" th:unless="${sim.serverAcceso}"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5M12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0m2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0M1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1M1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25" />
                                            </svg>
                                            <!-- SVG di Server Connesso -->
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="green"
                                                class="bi bi-pc-display-horizontal" th:if="${sim.serverAcceso}"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5M12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0m2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0M1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1M1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25" />
                                            </svg>

                                        </div>
                                        <!-- descrizione rapida del simulatore -->
                                        <div class="col-8">
                                            <h5 class="card-title" th:text="${sim.nomeServer}">Nome Server</h5>
                                            <h6 class="card-subtitle mb-2 text-muted" th:text="${sim.ipString}">0.0.0.0
                                            </h6>
                                            <p class="card-text">
                                                <strong>Sistema Operativo:</strong>
                                                <span th:text="${sim.sistemaOperativo}">OS</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between align-items-center">
                                        <small class="text-muted">
                                            <span th:if="${sim.ultimaSimulazione != null}">
                                                In simulazione: <span
                                                    th:text="${#temporals.format(sim.ultimaSimulazione.createdAt, 'dd/MM/yyyy')}">00/00/0000</span>
                                                - <span th:text="${sim.ultimaSimulazione.nomeImpianto}">Impianto</span>
                                            </span>
                                            <span th:if="${sim.ultimaSimulazione == null}">
                                                Nessuna simulazione
                                            </span>
                                        </small>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </main>


    <!-- Bootstrap Bundle -->
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>

    <!-- JS per mostrare l'overlay durante il controllo delle connessioni -->
    <script th:src="@{/js/overlayCheckConn.js}"></script>
</body>

</html>